{# templates/thanky_you.twig #}
{% extends "default.twig" %}

{% block content %}
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-md-12 pb-5 pt-4">
                <div id="subhead" class="pt-0 pb-4 text-center">
                    French Business Date Helper
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

{% endblock %}
